*{
  margin: 0;
  padding: 0;
}
.fetch-user-btn {
  position: relative;
  top: 200px;
  left: 600px;
  padding: 18px 28px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}